<a href="https://colab.research.google.com/github/jaeyoung1122/BP_10_Ch4/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
print('나는' + str(12) +'개의 사과를 먹었다.')

나는12개의 사과를 먹었다.

In [6]:
print('apple' + 'grape')
print('apple' * 3)

applegrape
appleappleapple

In [9]:
_str = input("문자열을 입력하시오: ")
s = _str[0:2] + _str[-2:]
print(s)

문자열을 입력하시오: phthon
phon

In [11]:
str = input("문자열을 입력하시오: ")
print(str + "하는 중")

문자열을 입력하시오: 청소
청소하는 중

In [14]:
_str_=input("기호를 입력하시오: ")
word=input("중간에 삽입할 문자열을 입력하시오: ")
s=_str_[:1] + word + _str_[1:]
print(s)

기호를 입력하시오: []
중간에 삽입할 문자열을 입력하시오: python
[python]

In [15]:
list = ['1', '2', '3', '4']

sum = int(list[0]) + int(list[1]) + int(list[2]) + int(list[3])

print("리스트 =", list)
print("리스트 숫자들의 합 : ",  sum)

리스트 = ['1', '2', '3', '4']
리스트 숫자들의 합 :  10